footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   font-size: xx-large;
   margin-bottom: 0px;
}

body {
   margin-bottom: 0px;
 }
