div{
    text-align:left;
    margin-top:30px;
    background-color:white;
    height:auto;
    color: black;
}

h1{
    padding:0% 5% 0%;
    font-size:50px;
}

h2{
    padding:0% 5% 0%;
    font-size:30px;
}

p{
    padding:0% 5% 0%;
    font-size:20px;
}