body {
  margin:0;
}

.nv {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(2, 110, 2);
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
}

.nv a {
  font-family: 'Consolas', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

.nv a:hover {
  background-color: #111;
}


.nv .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .nv a {display: none;}
  .nv a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .nv.responsive {position: relative;}
  .nv.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .nv.responsive a {
    float: none;
    display: block; 
    text-align: center;
  }
}

